body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

header {
  background: #B88E2F;
  color: white;
  text-align: center;
  padding: 2px;
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.shop-link{
    text-align: right;
    margin-top: 8%;
}
.shop-link a{
    text-decoration: none;
    color: navy;
    text-align: right;
}
.checkout-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 2rem;
  /* margin-top: 2%; */
}

.billing, .summary {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.billing input, .billing textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.6rem 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.summary ul {
  list-style: none;
  padding: 0;
}

.summary ul li {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.payment {
  margin: 1rem 0;
}

.btn {
  display: block;
  width: 100%;
  background: #B88E2F;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #a67a23;
}


.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

.order-item-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.order-item-info img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.item-name {
  font-weight: 600;
  margin: 0;
}

.item-qty {
  font-size: 0.9rem;
  color: #555;
}

.item-total {
  font-weight: bold;
  color: #B88E2F;
}

.empty {
  text-align: center;
  font-style: italic;
  color: #777;
}
